body {
    font-family: "Gloria Hallelujah", cursive;
    line-height: 1;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    resize: horizontal;
}

.Card {
    margin: 0.5em;
    width: 300px;

    display: grid;
    grid-template-columns: [left] repeat(12, 25px) [right];
    grid-template-rows: [top] repeat(19, 25px) [bottom];

    border: 1px solid black;
}

.Card__title {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: top;
    grid-row-end: 2;
    margin: 0;
    padding: 0.6em;
    font-size: 1.4em;
}

.Item .Card__title {
    grid-row-start: 15;
    grid-row-end: 17;
}

.Card__type {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0.5em 0 0 0.5em;
}

.Item .Card__type {
    grid-row-start: 3;
    grid-row-end: 5;
}

.Card__type--Poison {
    background-image: url(../icons/poison.gif);
}

.Card__type--Fire {
    background-image: url(../icons/fire.gif);
}

.Card__type--Ice {
    background-image: url(../icons/ice.gif);
}

.Card__type--Lightning {
    background-image: url(../icons/lightning.gif);
}

.Card__type--Plant {
    background-image: url(../icons/plant.gif);
}

.Card__type--Rock {
    background-image: url(../icons/rock.gif);
}

.Card__type--Water {
    background-image: url(../icons/water.gif);
}

.Card__image {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: 3;
    grid-row-end: 15;

    width: 100%;
    height: auto;
}

.Item .Card__image {
    grid-row-start: 3;
    grid-row-end: span 4;
}

.Card__description {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: 15;
    grid-row-end: 17;
    padding: 0.5em;
    margin: 0;
    line-height: 1.3em;
}

.Item .Card__description {
    grid-row-start: 17;
    grid-row-end: bottom;
}

.Card__attack,
.Card__defense {
    grid-row-start: 18;
    grid-row-end: 20;

    display: flex;
    justify-content: space-around;
    align-content: center;

    line-height: 1;
}

.Card__attack {
    grid-column-start: left;
    grid-column-end: 6;
}

.Card__defense {
    grid-column-start: 8;
    grid-column-end: right;
}

.attack__icon,
.defense__icon {
    background-position: center;
    background-size: contain;
    height: 3em;
    width: 3em;
}

.attack__icon {
    background-image: url(../icons/attack.gif);
}

.defense__icon {
    background-image: url(../icons/defense.gif);
}

.attack__value,
.defense__value {
    font-size: 2.8em;
}

.Card__health {
    grid-column-start: 11;
    grid-column-end: right;
    grid-row-start: 4;
    grid-row-end: 14;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.health__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1em;
}

.health__point {
    list-style: none;
    height: 1em;
}
.health__icon {
    background-size: contain;
    background-position: center;
    height: 2em;
    width: 2em;
}
.health__icon--full {
    background-image: url(../icons/heart-full.gif);
}
.health__icon--empty {
    background-image: url(../icons/heart-empty.gif);
}
