.Cards {
    display: grid;
    grid-template-columns: [left] repeat(6, 1fr) [right];
}

.Card {
    grid-row-end: span 3;

    display: grid;
    width: 300px;

    grid-template-columns: [left] repeat(12, 1fr) [right];
    grid-template-rows: [header] 3em [image] 3fr [description] 1fr [footer] 3em [end];

    border: 1px solid black;
}

.Card__title {
    grid-column-start: left;
    grid-column-end: 11;
    grid-row-start: header;
    grid-row-end: image;
    margin: 0;
    padding: 0.6em;
}
.Card__type {
    grid-column-start: 11;
    grid-column-end: right;
    grid-row-start: header;
    grid-row-end: image;

    background-position: center;
    background-size: contain;
}

.Card__type--Poison {
    background-image: url(../icons/poison.jpg);
}

.Card__type--Fire {
    background-image: url(../icons/fire.jpg);
}

.Card__type--Ice {
    background-image: url(../icons/ice.jpg);
}

.Card__type--Lightning {
    background-image: url(../icons/lightning.jpg);
}

.Card__type--Plant {
    background-image: url(../icons/plant.jpg);
}

.Card__type--Rock {
    background-image: url(../icons/rock.jpg);
}

.Card__type--Water {
    background-image: url(../icons/water.jpg);
}

.Card__image {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: image;
    grid-row-end: description;

    object-fit: contain;
    width: 100%;
    height: auto;
}

.Card__description {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: description;
    grid-row-end: footer;
    padding: 0.5em;
    margin: 0;
}

.Card__attack,
.Card__defense {
    display: flex;
    justify-content: space-between;
}

.Card__attack {
    grid-column-start: left;
    grid-column-end: 7;
    grid-row-start: footer;
    grid-row-end: bottom;
}

.Card__attack,
.Card__defense {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0.6em;
}

.Attack__icon,
.Defense__icon {
    background-position: center;
    background-size: contain;
    height: 3em;
    width: 3em;
}
.Attack__icon {
    background-image: url(../icons/attack.jpg);
}
.Defense__icon {
    background-image: url(../icons/defense.jpg);
}
.Attack__value,
.Defense__value {
    font-size: 2.8em;
}

.Card__defense {
    grid-column-start: 7;
    grid-column-end: right;
    grid-row-start: footer;
    grid-row-end: bottom;
}
.Card__health {
    grid-column-start: 11;
    grid-column-end: right;
    grid-row-start: image;
    grid-row-end: description;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.health__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1em;
}

.health__point {
    list-style: none;
    height: 1em;
}
.health__icon {
    background-size: contain;
    background-position: center;
    height: 2em;
    width: 2em;
}
.health__icon--full {
    background-image: url(../icons/heart-full.gif);
}
.health__icon--empty {
    background-image: url(../icons/heart-empty.gif);
}
